body {
    background-image: url("../images/back.gif");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}

#Header {
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#Header img {
    margin: 0 auto;
}

#Contents, #Footer {
    padding: 10px 30px;
    background-color: #FFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

#Contents .article-header .article-social {
    margin-top: 7px;
    text-align: right !important;
}

#Contents .article-header .article-meta .date,
#Contents .article-header .article-meta .tags {
    font-size: 11px;
    display: inline-block;
    margin-right: 2px;
}

#Contents .article-header .article-meta .fb-like {
    margin-top: 5px;
}

.fb-like {
    margin-right: 5px;
}

#Contents .article-header {
    margin-bottom: 15px;
}

.twitter-share-button {
    width: 78px !important;
}

#Contents h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 3px;
}

#Contents h2 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 14px;
    padding: 0 0 5px 0;
    border-image: url("../images/back.gif") 11 round;
    border-style: solid;
    border-width: 0 0 7px 0;
    clear: both;
}

#Contents h3 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 12px;
    clear: both;
}

#Contents p {
    line-height: 1.5;
    clear: both;
}

#Contents ul {
    padding-left: 17px;
}

#Contents .image-wrapper {
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}

#Contents .image-wrapper img {
    width: 270px;
}

#Contents .image-wrapper img.header {
    width: 100%;
}

#Contents blockquote p {
    font-size: 13px;
    font-style: italic;
}

#Paginator {
    font-size: 11px;
    font-weight: bold;
    padding: 15px 0;
    margin: 20px 0 10px;
    border-width: 1px 0;
    border-color: #EEE;
    border-style: solid;
    clear: both;
}

#Contents h1.archive {
    margin-bottom: 25px;
}

#Paginator .prev {
    float: left;
    width: 50%;
}

#Paginator .next {
    float: right;
    width: 50%;
    text-align: right;
}

#Footer {
}

#Footer #SiteGenerator {
    margin-top: 20px;
    color: #666;
    font-size: 12px;
    text-align: center;
}

#Footer h2.category {
    margin-top: 5px;
    margin-bottom: 0;
    color: #666;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 2.6em;
}

#Footer ul {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#Footer li {
    list-style: none;
}

#Footer .author p {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}

#Footer .profile {
    max-width: 160px;
}