<div class="article-header">
    <h1>
        <%= link_to article.title, article %>
    </h1>
    <div class="article-meta">
        <span class="date">
            <span class="glyphicon glyphicon-calendar"></span>
            <%= article.date.strftime('%Y年%m月%d日') %>
        </span>
        <span class="tags">
            <span class="glyphicon glyphicon-tag"></span>
            <% article.tags.each do |tag|; %>
            <%= link_to tag, 'tags/'+tag %>
            <% end %>
        </span>
    </div>
    <%= partial(:social, :locals => {:url => 'http://manimani-rider.com' + article.url, :title => article.title + ' | まにまいらいだー'}) %>
</div>